@using Back_end_Project.ViewModels;
@{
    Layout = null;
    var returnUrl = Context.Request.Query["ReturnUrl"];
}
<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from demo.devitems.com/eduhome/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 21 Jun 2020 19:44:02 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Eduhome - Educational HTML Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<link rel="stylesheet" href="~/admin/css/login.css">
	<script src="~/admin/js/login.js"></script>
</head>
<body>
	<div class="wrapper" style="height: 500px; margin-top: -300px;">
		<div class="container">
			<h1>Welcome</h1>
			<form class="form" method="post" asp-controller="account" asp-action="forgetpassword">
				
				<input name="email" type="email" placeholder="Email">
				<button type="submit" id="login-button">Reset Password</button>
				

			</form>
		</div>

		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>

<!-- Mirrored from demo.devitems.com/eduhome/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 21 Jun 2020 19:44:02 GMT -->
</html>